@include for-tablet-up {
}

@include for-desktop-up {
  .App {
    padding: 25px 40px;
    font-size: 24px;

    &-header {
      &__logo {
        height: 23vh;
      }
    }
  }
  .search {
    &__input-text {
      width: 400px;
    }
    &__form {
      font-size: 18px;
    }
  }
  .char-detail {
    &__back-link {
      right: -850px;

      &--btn {
        padding: 14px;
        border-radius: 12px;
        font-size: 14px;
      }
    }

    &__card {
      flex-direction: row;
      width: 50vw;
      height: 45vh;
      margin-top: 40px;
      border-radius: 5px;
      &--image {
        padding: 0;
        margin: auto 20px;
      }
      &--text {
        margin: auto 30px;
      }
      &--name {
        margin: 17px 0;
      }
    }
  }
}
